/* ДЛЯ МОБИЛЬНЫХ */ 
#background{
	background: url(y.jpg);
}
#shapa{	
    border: 1px solid black;
	background: rgba(255, 126, 0, 0.40);
	text-align:left;
    font: normal small-caps 52px/54px fantasy;
	height:32mm;
	line-height:100px;
	max-height:200px;
}

* {
margin:0;
padding:0;
outline:none
}

#main{
    border: 1px solid black;
    background: rgba(255, 126, 0, 0.40);
    text-align:left;
    font: bold italic 110% serif;
}

#links{	
    border: 1px solid black;
    margin: 0 auto;
	background: rgba(255, 126, 0, 0.40);
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 150 pt;
}

#forma{	
    border: 1px solid black;
    margin: 0 auto;
	background: rgba(255, 126, 0, 0.40);
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 150 pt;
}

#foot{
 border: 1px solid black;
 background: rgba(255, 126, 0, 0.40);
 text-align:left;
 font: normal small-caps 52px/54px fantasy;
 height:32mm;line-height:100px;
 max-height:200px;   
}

/* стиль таблицы */
  .lux { 
    width: 300px;
    border: 1px solid #a52a2a;
    border-collapse: collapse;
    border-spacing: 0;
	text-align:center;
	margin: auto;
   }
   .lux th {
    background: #a52a2a;
    color: white; 
   }
   .lux td { 
    border-bottom: 1px solid black;
   }
   .lux td, .lux th {
    padding: 4px;
   }
   .caption {
     caption-side: top;
     text-align: center;
     padding: 10px 0; 
     font-size: 14px;
}
   tr:nth-child(even) {
    background: rgba(76, 255, 0, 1);
   } 
   tr:nth-child(odd) {
    background: rgba(182, 255, 0, 1); 
   } 
   
   
 /* Flex box зона */  
.flex {
  display: flex;
  flex-direction:column; 
}
.links,.table,.forma{
	margin:20px;
    justify-content:flex-end;
}
.links{
  order: 0;
}
.table {
  order: 2;
}
.forma {
  order: 1;
}

.flexer {
  display: flex;
  flex-direction:row; 
  margin:0 auto;
}
.item4 {
  order: -5;
}
.item5 {
  order: -4;
}
/* ДЛЯ ОСТАЛЬНЫХ УСТРОЙСТВ */

@media (min-width:  991.98px){
#links{	
    max-width:600px;
}

#main{
    max-width:400px;
	text-align:center;
    margin: 0 auto;
    margin-top:15px;
    padding:10px;
    word-spacing: 30px;
	word-wrap:inherit;
} 
#forma{
  max-width:600px;
}
.flexer {
  display: flex;
  flex-direction:column; 
  margin:0 auto;
}
.table {
  order: 1;
}
.forma{
  order: 2;
}
}
